{{ 'section-button-full-screen.css' | asset_url | stylesheet_tag }}

<div class="button-full-screen">
<a href="{{ section.settings.url }}" class="button-fullscreen">
  <span class="button-fullscreen__text">{{ section.settings.link_label }}</span>
</a>
</div>

{% schema %}
{
  "name": "Button Full Screen",
  "settings": [
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "url"
    }
  ],
  "presets": [
    {
      "name": "Button Full Screen"
    }
  ]
}
{% endschema %}