{{ 'section-half-image-text.css' | asset_url | stylesheet_tag }}

<div class="half-image-text">
    <div class="text-box">
        <p class="body-text">Between finding the right furniture for the right price, long shipment periods, and high delivery costs, furnishing your rental space is expensive and time-consuming.</p>
        <div class="body-dots">&#183; &#183; &#183;</div>
        <p class="body-text-bold">Let help you start making money now.</p>
        <p class="body-text">We will furnish, deliver, and install - all for one low price.</p>
    </div>
    <!-- <div class="image">  </div> -->
</div>

{% schema %}
{
  "name": "Half Image Half Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Half Image Half Text"
    }
  ]
}
{% endschema %}