{{ 'section-half-image-text.css' | asset_url | stylesheet_tag }}

<div class="half-image-text">
    <div class="text-box">
        <p class="body-text">{{ section.settings.top_paragraph }}</p>
        <div class="body-dots">&#183; &#183; &#183;</div>
        <p class="body-text-bold">{{ section.settings.bottom_top }}</p>
        <p class="body-text">{{ section.settings.bottom_bot }}</p>
    </div>
    <!-- <div class="image">  </div> -->
</div>

{% schema %}
{
  "name": "Half Image Half Text",
  "settings": [
    {
      "type": "textarea",
      "id": "top_paragraph",
      "label": "Top paragraph"
    },
    {
      "type": "textarea",
      "id": "bottom_top",
      "label": "Bottom first line"
    },
    {
      "type": "textarea",
      "id": "bottom_bot",
      "label": "Bottom second line"
    }
  ],
  "presets": [
    {
      "name": "Half Image Half Text"
    }
  ]
}
{% endschema %}