{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div>
    <h1 class="hero__h1">{{ section.settings.title }}</h1>
    <p class="hero__p">{{ section.settings.subheader }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
