{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div>
    <h1 class="hero__h1">WE FURNISH. YOU PROFIT.</h1>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
