{{ 'component-shortterm.css' | asset_url | stylesheet_tag }}

<section class="image-and-accordion"></section>
    <div class="image-and-accordion__flex-container">
      <div class="image-and-accordion__accordion-side">
        <h2 class="image-and-accordion__header">The Journey</h2>
        <p class="image-and-accordion__textblock">
          Roomme leads you through an immersive journey as we uncover what defines you,
          allowing us to design a space that reflects who you are.
        </p>
        <div class="image-and-accordion__accordion">
          <div class="image-and-accordion__accordion-item">
            <button class="image-and-accordion__accordion-header">A Choice.<i class="fa fa-accordion-arrow"></i></button>
            <div class="image-and-accordion__accordion-content">
              <p>
                The ethos of Roomme lies in intentionality, and we pride ourselves on our
                selective approach with our clients. Before we take the next step,
                it is essential that we not only share an aligning vision but, more importantly, a <em>connection.</em>
              </p>
            </div>
          </div>
          <div class="image-and-accordion__accordion-item">
            <button class="image-and-accordion__accordion-header">A Collaboration.<i class="fa fa-accordion-arrow"></i></button>
            <div class="image-and-accordion__accordion-content">
              <p>
                Together with our designer, our minds meet and our collaborative vision begins to unfold through
                the development of moodboards and 3D renderings.
              </p>
            </div>
          </div>
          <div class="image-and-accordion__accordion-item">
            <button class="image-and-accordion__accordion-header">A Realization.<i class="fa fa-accordion-arrow"></i></button>
            <div class="image-and-accordion__accordion-content">
              <p>
                Imagination becomes reality as the culmination of concept and design come together,
                transforming your space into your <em>home.</em>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="image-and-accordion__image-side">
        <image class="image-and-accordion__image" src="https://cdn.shopify.com/s/files/1/0557/1477/5237/files/accordion-image.png?v=1726079310" alt="" />
        <image class="image-and-accordion__image" src="https://cdn.shopify.com/s/files/1/0557/1477/5237/files/slideshow2.jpg?v=1726079323" alt="" />
        <image class="image-and-accordion__image" src="https://cdn.shopify.com/s/files/1/0557/1477/5237/files/slideshow3.jpg?v=1726079323" alt="" />
      </div>
    </div>
  </section>