{{ 'component-shortterm.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="footer__flex-container">
    <div class="footer__contact-block">
      <h2 class="footer__header">GET IN TOUCH.</h2>
      <div class="footer__contact-form" id="contact">
        <input class="footer__contact-form-input" placeholder="Your name">
        <input class="footer__contact-form-input" placeholder="Your email">
        <div class="footer__textarea-submit">
          <textarea class="footer__contact-form-input" placeholder="Message" name="" id=""></textarea>
          <button class="footer__contact-form-submit" type="submit">
            <i class="fa fa-submit-button"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="footer__social-block">
      <div>
        <h3 class="footer__social-header">ROOMME</h3>
        <p class="footer__social-subheader">Indulge in the Art of Living.</p>
      </div>
      <div>
        <h3 class="footer__social-icons-header">Follow</h3>
        <div class="footer__social-icons">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tiktok"></i></a>
          <a href="#"><i class="fa fa-spotify"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__links">
    <a href="#">Copyright@roomme</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Privacy policy </a>
  </div>
</footer>