{{ 'component-shortterm.css' | asset_url | stylesheet_tag }}

<section class="hero">
  <div class="hero__text-group">
    <h1 class="hero__header">INTENTIONAL LIVING.</h1>
    <p class="hero__description">
      Roomme aims to challenge the conventional notion of interior styling.
      We believe that your home should be a bode of inspiration,
      a space that embodies the essence of the most important element of your home, you.
    </p>
  </div>
    <video class="hero__video" autoplay loop muted playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/8b44eaa4a5a14be4b1f38825cc9f359e.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  <a href="#contact" class="hero__cta">GET IN TOUCH</a>
</section>