{{ 'component-shortterm.css' | asset_url | stylesheet_tag }}

<section class="triple-column-carousel">
  <div class="triple-column-carousel__carousel-container">
    <div class="triple-column-carousel__carousel-cell" style="background-image: url('https://cdn.shopify.com/s/files/1/0557/1477/5237/files/carousel-1.png?v=1726079183')">
      <h3 class="triple-column-carousel__cell-header">SUSTAINABLE DESIGN</h3>
    </div>
    <div class="triple-column-carousel__carousel-cell" style="background-image: url('https://cdn.shopify.com/s/files/1/0557/1477/5237/files/carousel-2.jpg?v=1726079184')">
      <h3 class="triple-column-carousel__cell-header">PERSONAL ART CONSULTANCY</h3>
    </div>
    <div class="triple-column-carousel__carousel-cell" style="background-image: url('https://cdn.shopify.com/s/files/1/0557/1477/5237/files/carousel-3.jpg?v=1726079183')">
      <h3 class="triple-column-carousel__cell-header">PERSONAL CONCIERGE</h3>
    </div>
  </div>
</section>