{{ 'component-shortterm.css' | asset_url | stylesheet_tag }}

<nav class="header__shortterm font-header">
  <div class="header__container">
    <span class="header__title">ROOMME</span>
    <a class="header__link" href="#contact">Connect with Us<i class="fa fa-link-arrow"></i></a>
  </div>
</nav>