{{ 'section-steps.css' | asset_url | stylesheet_tag }}

<div class="steps">
    <div class="steps-inner">
        <div class="steps-ctn-mobile">
            <div class="steps-number">1</div>
            <div class="steps-line">  </div>
            <div class="steps-title">choose your package</div>
        </div>
        <div class="steps-description">Choose one of our furnishing packages. For a flat fee, you can fill your whole space with  modern and beautiful furniture and accessories.</div>
    </div>


    <div class="steps-inner-mid">
        <div class="steps-description">Select the furniture from our catalogue to fill out your package. Need some design help? Chat with an expert for free.</div>
        <div class="steps-ctn-mobile">
            <div class="steps-number">2</div>
            <div class="steps-line">  </div>
            <div class="steps-title">select your furniture</div>
        </div>
    </div>

    <div class="steps-inner">
        <div class="steps-ctn-mobile">
            <div class="steps-number">3</div>
            <div class="steps-line">  </div>
            <div class="steps-title">delivery, essembly <br>& installation</div>
        </div>
        <div class="steps-description">Roomme delivers white glove service to your door, by essembling and installing all furnishings.</div>
    </div>


</div>

{% schema %}
{
  "name": "Steps",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Steps"
    }
  ]
}
{% endschema %}