/* Package page */
.product-package__form {
  margin-bottom: 249px;
}

.product-package__order-preview {
  position: fixed;
  background-color: #F0EFED;
  width: 100%;
  height: 250px;
  bottom: 0px;
  z-index: 1000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.product-package__order-header {
  background-color: #363636;
  height: 70px;
  padding: 10px 3px;
}
@media screen and (min-width: 340px) {
  .product-package__order-header {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  .product-package__order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding: 10px 40px;
  }
}

.product-package__order-header > span {
  color: #FAFAFA;
  font-size: 14px;
  display: block;
}

@media screen and (min-width: 768px) {
  .product-package__order-header > span {
    line-height: 1.7;
    font-size: 13px;
  }
  .product-package__order-header > .product-package__add-to-cart > p {
    line-height: 1.4;
  }
}

.product-package__add-to-cart {
  display: flex;
  flex-direction: row;
}

.product-package__add-to-cart-btn {
  color: #FAFAFA;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 15px;
}

.product-package__add-to-cart-btn:hover {
  cursor: pointer;
}

.product-package__add-to-cart-btn:disabled {
  color: #868686;
}

.product-package__add-to-cart-btn:disabled:hover {
  cursor: not-allowed;
}

.product-package__add-to-cart > p {
  margin: 0 0 0 20px;
  color: #FAFAFA;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .product-package__add-to-cart-btn {
    padding-bottom: 3px;
  }
  .product-package__add-to-cart > p {
    padding-top: 2px;
  }
}

.product-package__carousel-ctn {
  /* width: 100%; */
  height: 100%;
  border-right: 1px solid #000000;
}

.product-package__order-carousel {
  /* width: 100%; */
  height: 100%;
}

.product-package__order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
}

.item-image {
  display: block !important;
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-category {
  font-size: 14px;
}

/* Product categories */
.product-category {

}

.product-category__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .product-category__header {
    position: relative;
    top: -1px;
    margin-bottom: -1px;
    padding: 0 40px;
  }
}
.product-category__header > h2 {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

.product-category__header > span {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: rgb(var(--color-foreground));
}

.product-category__item-ctn {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .product-category__item-ctn {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.product-category__item {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
@media screen and (min-width: 768px) {
  .product-category__item  {
    width: 33.3333%;
  }
}

@media screen and (max-width: 767px) {
  .product-category__item-ctn > .product-category__item:not(:last-of-type) {
    border-bottom: 1px solid #000000;
  }
}
@media screen and (min-width: 768px) {
  .product-category__item-ctn > .product-category__item {
    border-bottom: 1px solid #000000;
  }
  .product-category__item-ctn > .product-category__item:not(:nth-child(3n)) {
    border-right: 1px solid #000000;
  }
}

.product-category__item > h3 {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
}

.product-category__item > p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}
@media screen and (min-width: 1100px) {
  .product-category__item > p {
    font-size: 14px;
  }
}

.catalog-item-selector {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.product-category__checkmark {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 27px;
  height: 27px;
  background-image: url('./catalog-uncheck.svg');
  display: block;
}

.product-category__item input:checked ~ .product-category__checkmark {
  background-image: url('./catalog-check.svg');
}

/* Filters */
.product-package__filters {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 41px;;
}

.product-package__filter-ctn {
  position: relative;
  color: rgb(var(--color-foreground));
}

.product-category__dropdown-btn {
  display: inline-block;
  margin-left: 15px;
}

.product-category__dropdown-btn:hover {
  cursor: pointer;
}

.product-category__dropdown-btn:before {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 10px;
  height: 10px;
  background-image: url('./dropdown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-category__dropdown-ctn {
  position: absolute;
  width: 250px;
  top: 30px;
  left: 0px;
  padding: 10px 30px 20px;
  border: 1px solid #000000;
  background-color: #F0EFED;
  opacity: 0;
  transform: translateY(10px);
  transition: all .3s;
}
@media screen and (min-width: 768px) {
  .product-category__dropdown-ctn {
    left: 60px;
  }
}

.product-category__dropdown-ctn.active {
  opacity: 1;
  transform: translateY(0px);
  z-index: 10000;
}

.product-category__dropdown-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-category__dropdown-btns > span {
  font-size: 13px;
}

.product-category__dropdown-btns > span:hover {
  cursor: pointer;
  color: rgba(var(--color-foreground), .7);
}

/* checkbox */

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 15px;
  color: rgb(var(--color-foreground));
}
.checkbox--disabled {
  color: 959495;
}

.checkbox__control {
  display: inline-grid;
  width: 15px;
  height: 15px;
  border: 0.1em solid currentColor;
}

.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
  margin-top: 6px;
}

.checkbox__input > * {
  grid-area: checkbox;
}

.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:disabled + .checkbox__control {
  color: 959495;
}