.hero {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -64px;
}
@media screen and (min-width: 990px) {
  .hero {
    margin-top: -84px;
  }
}

.hero__h1{
  color: #F0EFED;
  font-size: 30px;
  text-align: center;
  margin: 1rem;
}

.hero__p {
  color: #F0EFED;
  text-align: center;
}

.hero__cta {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: rgba(250, 249, 247, 0.6);
  color: #363636;
  border: 1px solid #363636;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 60px;
}
.hero__cta:hover {
  background-color: rgba(250, 249, 247, 1);
}