/* Package page */
.product-package__form {
  margin-bottom: 275px;
}

.product-package__order-preview {
  position: fixed;
  background-color: #F0EFED;
  width: 100%;
  height: 275px;
  bottom: 0px;
  z-index: 1000;
}

.product-package__order-header {
  background-color: #363636;
  height: 70px;
  padding: 10px 3px;
}
@media screen and (min-width: 340px) {
  .product-package__order-header {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  .product-package__order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 10px 40px;
  }
}

.product-package__order-header > span {
  color: #FAFAFA;
  font-size: 15px;
  display: block;
}

.product-package__add-to-cart {
  display: flex;
  flex-direction: row;
}

.product-package__add-to-cart-btn {
  color: #FAFAFA;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 15px;
}

.product-package__add-to-cart-btn:hover {
  cursor: pointer;
}

.product-package__add-to-cart-btn:disabled {
  color: #868686;
}

.product-package__add-to-cart-btn:disabled:hover {
  cursor: not-allowed;
}

.product-package__add-to-cart > p {
  margin: 0 0 0 20px;
  color: #FAFAFA;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .product-package__add-to-cart-btn {
    padding-bottom: 3px;
  }
  .product-package__add-to-cart > p {
    padding-top: 2px;
  }
}

.product-package__order-carousel {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.product-package__order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
}

.item-image {
  display: block !important;
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Product categories */
.product-category {

}

.product-category__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border: 1px solid #000000;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .product-category__header {
    position: relative;
    top: -1px;
    margin-bottom: -1px;
    padding: 0 40px;
  }
}
.product-category__header > h2 {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

.product-category__header > span {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: rgb(var(--color-foreground));
}

.product-category__item-ctn {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .product-category__item-ctn {
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }
}

.product-category__item {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .product-category__item  {
    width: 33.3333%;
  }
}

@media screen and (max-width: 767px) {
  .product-category__item {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }
  .product-category__item-ctn > .product-category__item:not(:last-of-type) {
    border-bottom: 1px solid #000000;
  }
}
@media screen and (min-width: 768px) {
  .product-category__item-ctn > .product-category__item {
    border-bottom: 1px solid #000000;
  }
  .product-category__item-ctn > .product-category__item:not(:nth-child(3n)) {
    border-right: 1px solid #000000;
  }
}

.product-category__item > h3 {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
}

.product-category__item > p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}
@media screen and (min-width: 1100px) {
  .product-category__item > p {
    font-size: 14px;
  }
}

.catalog-item-selector {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.product-category__checkmark {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 27px;
  height: 27px;
  background-image: url('./catalog-uncheck.svg');
  display: block;
}

.product-category__item input:checked ~ .product-category__checkmark {
  background-image: url('./catalog-check.svg');
}