.hero {
  color: green;
  height: 100vh;
  background-image: url("./hero-roomme.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -64px;
}
@media screen and (min-width: 990px) {
  .hero {
    margin-top: -84px;
  }
}

.hero__h1{
  color: #F0EFED;
  font-size: 30px;
  text-align: center;
  margin: 1rem;
}