.quote{
    width: 100%;
    background-image: url("./quote-image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
@media screen and (min-width: 500px) {
    .quote {
        padding: 4rem;
    }
}
@media screen and (min-width: 1024px) {
    .quote {
        padding: 12rem;
    }
}

.quote-ctn{
    background:#fafafaea;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #363636;
    width: 48%;
    padding: 0rem;
}
@media screen and (min-width: 500px) {
    .quote-ctn{
        padding: 3rem;
    }
}
@media screen and (max-width:2000px){
    .quote-ctn{
        width: 60%;
    }
}

@media screen and (max-width:1024px){
    .quote-ctn{
        width: 100%;
    }
}

.quote-text{
    color: #363636;
    text-align: center;
    margin: 1rem;
    padding: 3rem;
    font-size: 11pt;
    line-height: 39px;
}
.quote-name{
    color: #363636;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16pt;
}
.quote-location{
    color: #363636;
    text-align: center;
    font-size: 13pt;
}