.button-full-screen{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
}

.button-fullscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: #FAF9F7;
    color: #363636;
    width: 80%;
    margin: 2rem 1rem;
    max-width: 850px;
    border: 1px solid #363636;
    transition: 0.3s;
    text-decoration: none;
}

.button-fullscreen:hover {
    cursor: pointer;
}

.button-fullscreen__text:before {
    position: absolute;
    content: '\2192';
    top: 50%;
    right: 50%;
    width: 0px;
    font-size: 20px;
    overflow: hidden;
    transform: translate(70px, -18px);
    transition: 0.3s;
    color: #fff;
}

.button-fullscreen:hover .button-fullscreen__text {
    color: #fff;
    transform: translateX(-20px);
}

.button-fullscreen__text:hover:before {
    width: 40px;
}

.button-fullscreen__text {
    transition: 0.3s;
}

.button-fullscreen__text:hover .button-fullscreen__text:before {
    transform: translateX(-20px);
    color: #fff
}

.button-fullscreen:hover {
    background-color: #363636;
}


